footer.text-center
  a(href="#")
    span.social-media.fa.fa-facebook
  a(href="#")
    span.social-media.fa.fa-google-plus
  a(href="#")
    span.social-media.fa.fa-twitter
  p.copy-right ©2015 Creeper, All Rights Reserved