extends layout

block content
  
  header

  
  
  .container
    .row
      .left-section
        .entry-list
          h2.title 本日頭條
          .timeline
            each article in articles
              .item
                img.capture(src="", alt="capture")
                h2.item-title
                  = article.title
                span.item-date
                  = article.createdAt
                span.item-author
                  = article.author
                span.tags
      .right-section
