extends layout

block content
  
  #header
    img#header-bg(src="../images/header.jpg", alt="")
    .container
      .row
        .caption
          h1 那些石沈大海的單字，
          h1 你還記得多少？
        #header-btn
          a(href="/users/new").btn.btn-azure-outline.btn-lg.btn-slim 成為漁夫
          a(href="").btn.btn-default-outline.btn-lg.btn-slim 願者上鉤

  
  .container
    .row
      .left-section
        .entry-list
          h2.title 本日頭條
          .timeline
            each article in articles
              .item
                img.capture(src="", alt="capture")
                h2.item-title
                  = article.title
                span.item-date
                  = article.createdAt
                span.item-author
                  = article.author
                span.tags
      .right-section
