doctype html
html
  head
    title= "Creeper"
    
    link(rel="stylesheet", href="/components/components-font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/index.css")
    block head
  body

    include ./partials/navbar
    block content
    include ./partials/footer

    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/bootstrap/dist/js/bootstrap.min.js")
    