doctype html
html
  head
    title= "燒酒螺"
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", href="https://s3-us-west-2.amazonaws.com/s3-cp08-100062101/website-photo/no_content.png")
    link(rel="stylesheet", href="/components/components-font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/animate.css")
    link(rel="stylesheet", href="/stylesheets/index.css")
    block head
  body

    include ./partials/navbar
    block content
    include ./partials/footer

    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/bootstrap/dist/js/bootstrap.min.js")
    block bottom
    