extends ../layout

block content

  //- Articles History
  #history-container
    .row
      .articles-panel
        table.articles
          thead
            tr
              th 標題
              th 簡述
              th 狀態
          tbody
            each article in articles
              tr.article
                td.title= article.title
                td.caption= article.caption
                - if (article.articleHistory.isDone)
                  td.status 
                    a.text-primary(href="#") 完成
                - else
                  td.status
                    a.text-danger(href="./#{article.category.name}/#{article.id}") 閱讀中