// Global variables
$azure-color:        #11A8AB;
$azure-hover-color:  #0D989B;
$light-yellow-color: #f1f0e3;


// Media Query
$MAX-MD:            1199px;
$MAX-SM:            991px;
$MAX-XS:            767px;

$MIN-LG:            $MAX-MD+1;
$MIN-MD:            $MAX-SM+1;
$MIN-SM:            $MAX-XS+1;

$M: 10px;


// Button style

@mixin btn-default-outline($color) {
  position:         relative;
  background-color: transparent;
  border-color:     $color;
  color:            white;

  &:hover {
    color: white;
  }

  &::before {
    content:          '';
    position:         absolute;
    background-color: $color;
    border-radius:    5px;
    top:     0;
    left:    0;
    height:  100%;
    width:   0;
    z-index: -1;
  }

  &:hover::before {
    width:      100%;
    transition: width, 0.4s;
  }
}

.btn-default-outline {
  @include btn-default-outline(white);

  &:hover {
    color:      black;
    transition: color, 0.4s;
  }
}

.btn-azure-outline {
  @include btn-default-outline($azure-color);
}

// Button size
.btn-slim {
  padding: $M/2 $M*3;
}



.no-content {
  @extend .text-center;
  color:  $azure-color;
  width:  200px;
  height: 200px;
  margin: $M*5 auto;
  
  &:before {
    content: '';
    display: block;
    opacity: 0.6;
    width:  100%;
    height: 100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s3-cp08-100062101/website-photo/no_content.png');
    background-size: cover;
  }
}