// Global variables
$azure-color: #11A8AB;
$M:           10px;
// Footer
footer {
  width: 100%;
  background-color: black;
  padding: $M 0;
  .social-media {
    width:         $M*5;
    height:        $M*5;
    margin:        $M*2;
    line-height:   $M*5;
    font-size:     18px;
    color:         white;
    border:        1px solid white;
    border-radius: 50%;

    &:hover {
      color:        $azure-color;
      border-color: $azure-color;
      transition: color 0.5s, border-color 0.5s;
    }
  }

  .copy-right {
    margin:     0 auto;
    padding:    20px;
    width:      35%;
    border-top: 1px solid #333;
    font-size:  16px;
    color: rgb(153, 153, 153);
  }
}