#vocab-container {
  @extend .container;


  .vocabs-panel {
    @extend .col-lg-9;
    @extend .col-md-9;
    
    margin-bottom:    $M*2;
    padding:          $M*2;
    background-color: white;
    box-shadow:       0px 1px 3px 0px rgb(129, 129, 129);
    border-radius:    6px;

    min-height: 400px;

    .vocabs {
      @extend .table;
      @extend .table-hover;

      thead tr th {
        text-align:    center;
        border-bottom: 2px solid $azure-color;
      }

      .vocab {
        list-style: none;

        .title, .caption {
          max-width:      0;
          overflow:       hidden;
          text-overflow:  ellipsis;
          vertical-align: middle;
          white-space:    nowrap;
        }

        .status {
          text-align:     center;
          vertical-align: middle;
        }
      }
    }
  }
}